body {
    font-family: 'Roboto';
}

header {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    margin: 10px;
}

.cover-img {
    display: block;
}

.share>div>a>img {
    width: 3%;
    height: 3%;
}


/* .star {
} */