h1 {
    color: rgb(136, 93, 0);
}

main {
    width: 100%;
}

.book {
    font-family: "Roboto";
    color: #4d4b4b;
    max-width: 1080px ;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}