span {
    text-decoration: underline dotted black;
}
span:hover {
    text-decoration: underline solid black;
}

img#cover {
    width: 70%;
    height: fit-content;
    margin: 0 auto;
}

img#rating {
    width: 80px;
}

ul.share-contact {
    display: flex;
    list-style-type: none;
    margin-top: 12px;
    padding: 0;
    align-items: center;
    cursor: pointer;
}

li {
    width: 30px;
    height: 30px;
    background: #f0f0f0;
    margin-left: 16px;
    border-radius: 50%;
}
li:hover {
    background: #999;
}

p {
    margin-top: 42px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    font-size: 20px;
}

.main {
    display: flex;
    width: 70%;
    margin: 42px auto 0;
}

.context {
    padding-left: 60px;
}

.title {
    font-size: 32px;
    font-weight: 600;
}