h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    font-size: 18px;
}

a{
    text-decoration: none;
}

body p{
    font-size: 14px;
    line-height: 150%;
}

p{
    padding: 10px 0;
    margin: 0;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.content-wrap{
    max-width: 1440px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 100%;
}

.breadcrumb{
    color: #666;
    margin: 5px 0;
    padding: 0;
    border: 1px solid #cacaca;
    display: block;
    width: 100%;
}

.title{
    line-height: 40px;
    height: 40px;
    padding: 0 6px;
    padding-right: 0;
    display: inline-block;
}

.breadcrumb>li {
    display: inline-block;
    padding: 0 6px;
}

.item-wrap{
    width: 100%;
}

.item-block{
    width: 100%;
}

.item-img{
    max-width: 420px;
    text-align: center;
    padding: 10px;
    background: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 5px;
}

.item-info{
    padding: 15px;
    background: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 5px;
}

.item-block .item-info h1{
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.rating-wrap{
    display: inline-block;
}

.stars{
    display: inline-block;
}

.star{
    position: relative;
    display: block;
    float: left;
    height: 14px;
    width: 14px;
    font-size: 14px;
    color: #fed221;
}

.meta-info{
    margin: 0;
    padding: 0;
}

.meta-info li:first-child {
    padding-left: 0;
}

.meta-info li{
    padding: 0 10px;
    display: inline-block;
    position: relative;
    right: 0;
    top: 0.4rem;
    bottom: 0.4rem;
    border-right: 1px solid #333;
    margin-left: 0;
}

.meta-info a:not(.rating) {
    border-bottom: 1px dotted #aaa;
}

.author-info{
    padding-top: 10px;
}

.author-info a {
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

.social-wrap {
    margin: 15px 0;
    padding: 0;
}

.social-wrap li{
    padding-right: 10px;
    display: inline-block;
}

.label{
    font-weight: bold;
}

.social-wrap a {
    display: inline;
    line-height: 30px;
    height: 30px;
    padding: 10px;
    border: 0;
    margin: 0;
    color: #999 !important;
    font-size: 10px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 100%;
}

.item-excerpt{
    display: block;
}

.item-tools{
    max-width: 366px;
}

.checkout-tools{
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 5px;
}

.price {
    border-bottom: 0.1rem solid #f0f0f0;
    padding: 1rem 0;
    color: #ff0072;
}

.sale-price{
    font-size: 30px;
}

.list-price{
    color: #333;
    font-size: 14px;
    text-decoration: line-through;
    font-style: italic;
}

.price-save{
    padding-top: 0;
    color: #333;
    font-style: italic;
    display: block;
}

.free-delivery-text{
    padding: 15px 0;
    align-items: center;
}

.free-delivery-text i{
    font-size: 30px;
    padding-right: 10px;
}

.free-delivery-text p{
    padding: 0;
    font-weight: bold;
    display: inline;
}

.availability-text{
    font-size: 30px;
    padding-right: 10px;
}

.check{
    max-width: 40px;
}

.edd-availability-text{
    display: inline;
}

.availability-text p{
    display: inline;
    padding: 0;
}

.edd-help-page{
    font-size: 14px;
    border-bottom: 1px dotted #aaa;
}

.btn-wrap{
    border-top: 0.1rem solid #f0f0f0;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.checkout-tools .btn-wrap .btn{
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.add-to-basket{
    color: #fff;
    background: #10bbd5;
    font-weight: bold;
    height: 44px;
}

.add-to-wishlist{
    margin-bottom: 10px;
    background: #f0f0f0;
    color: #666;
    box-shadow: none;
    height: 44px;
}

.biblio-wrap{
    padding: 5px 10px;
    background: #fff;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.biblio-wrap h2{
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: bold;
}

.biblio-info{
    margin: 0;
    padding: 0;
    list-style: none;
    columns: 2;
    max-width: 800px;
}

.biblio-info li{
    line-height: 28px;
}

.biblio-info li label{
    font-weight: bold;
}