.navbar2{
    background: #4c394e;
    position: relative;
}

.header-wrap{
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    max-height: 81.94px;
    max-width: 1440px;
    padding-left: 10px;
    padding-right: 10px;
}

.primary-wrap{
    padding: 15px;
    max-width: 1420px;
}

.brand-wrap{
    padding-right: 20px;
    padding-left: 0px;
    width: 20%;
    max-width: 237.8px;
}

.search-warp{
    width: 80%;
}

.search{
   max-width: 140px; 
   padding-right: 0px;
   padding-left: 0px;
}

.search-btn{
    background: #10bbd5;
    color: #fff;
    margin: 0 10px;
    min-width: 120px;
}

.advanced{
    max-width: 155px; 
    padding-right: 0px;
}

.btn{
    font-family: Roboto,Helvetica,sans-serif;
    font-size: 14px; 
}