.navbar3{
    position: relative;
    background: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

.secondary-header{
    max-width: 1440px;
    min-height: 40px;
    color: #333;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
}

.category{
    max-width: 171.45px;
}

.Bestsellers{
    max-width: 102.73px;
}

.ComingSoon{
    max-width: 117.81px;
}

.NewReleases{
    max-width: 121.72px;
}

.right-section{
    max-width: 374.09px;
    padding-right: 15px;
    padding-left: 0px;
}

.language{
    max-width: 109.27px;
    border-right: 1px solid rgb(197, 197, 197);  
}

.THB{
    max-width: 104px;
    text-align: center;
}

.basket-warp{
    color: #fff;
    font-weight: bold;
}

.total , .basket-btn{
    display: block;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0;
    border: 0;
    background: #ff0072;
}

.basket-btn{
    max-width: 74.95px;
    border-left: 1px solid rgba(255,255,255,0.4);
}

.category:hover , .Bestsellers:hover , .ComingSoon:hover , .NewReleases:hover , .language:hover{
    border-bottom: 2px solid;
}