body{
    background-color: darkgrey;
}




.deta {
    float: left;
    
    margin: 2%;
    height: 600px;
    width: 50%;
    background-color: rgb(255, 255, 255);


    
    
}
.deta p{
    
    float: left;
    position: relative;
    left:40px;
}
.deta img{
    float: left;
    margin: 2% ;
}


.buyy{
    float: left;
   margin : 2%;
    
    height: 450px;
    width: 20%;
    background-color: rgb(255, 255, 255);

}
.buyy p{
    padding: 9%;
    
    
}
.buyy button {
    position: relative;
    top: 90px;
    left: 30px;
    background-color: aqua;
}
a {
    float: left;
}
