main{
    width: 100%;     
}

.book{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 720px;
    display: flex;
    gap: 1rem;
}

.info{
    background: rgb(232, 191, 191);
}